absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
faiss-cpu
filelock
flatbuffers
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
greenlet
groq
grpcio
h11
h5py
httpcore
httpx
httpx-sse
huggingface-hub
idna
InstructorEmbedding
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
mdurl
ml-dtypes
mpmath
multidict
mypy-extensions
namex
narwhals
networkx
numpy
opt_einsum
optree
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
tf_keras
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
yarl
